Options -Indexes

RewriteEngine On
RewriteBase /

# If the requested resource exists as a file or directory, serve that
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Otherwise, send the request to index.php
RewriteRule ^ index.php [QSA,L]
