@charset "utf-8";

/* Default Reset Css Starts Here
===============================================================*/
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
	box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

footer,
header,
nav,
section {
	display: block;
}

img,
object,
embed {
	max-width: 100%;
}
img{
	vertical-align: middle;
}

/*html{overflow-y:scroll;}*/
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	text-decoration: none;
	color: $color-primary;
	@include transition (all 0.4s ease-in-out);
}

a:hover {
	color: $text-color;
}

del {
	text-decoration: line-through;
}

abbr[title],
dfn[title] {
	border-bottom: 1px dotted #000;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th {
	font-weight: bold;
	vertical-align: bottom;
}

td {
	font-weight: normal;
	vertical-align: top;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	margin: 1em 0;
	padding: 0;
}

input,
select {
	vertical-align: middle;
}

pre {
	white-space: pre;
	/* CSS2 */
	white-space: pre-wrap;
	/* CSS 2.1 */
	white-space: pre-line;
	/* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word;
	/* IE */
}

input[type="radio"] {
	vertical-align: text-bottom;
}

input[type="checkbox"] {
	vertical-align: bottom;
}

select,
input,
textarea {
	font: 99% sans-serif;
}

table {
	font-size: inherit;
}

small {
	font-size: 85%;
}

strong {
	font-weight: bold;
}

td,
td img {
	vertical-align: top;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

pre,
code,
kbd,
samp {
	font-family: monospace, sans-serif;
}

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
	cursor: pointer;
}

button,
input,
select,
textarea {
	margin: 0;
}

/* make buttons play nice in IE */
button,
input[type=button] {
	width: auto;
	overflow: visible;
}

/* IE < 8 */

/* Default fonts css Start Here
===================================================*/

body {
	font-family: $font-primary;
	font-weight: $font-w-400;
	font-size: 16px;
	line-height: 1.5em;
	color: $text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-secondary;
	color: $text-color;
	font-weight: $font-w-700;
	line-height: 1.25em;
}
p{
	line-height: 1.5em;
}

b {
	font-weight: 700;
}

input {
	outline: none;
	box-shadow: none;
}

input,
select {
	&:focus-visible,
	&:focus {
		outline: none;
		box-shadow: none;
	}
}
